# Created by .ignore support plugin (hsz.mobi)
/web/target/
/orm/target/
/core/target/
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
core/src/main/resources/
core/src/test/
core/target/classes/org/pms/core/impl/EmployeeServiceImpl.class
core/target/classes/org/pms/core/impl/ProjectServiceImpl.class
core/target/classes/org/pms/core/impl/TaskServiceImpl.class
core/target/classes/org/pms/core/service/EmployeeService.class
core/target/classes/org/pms/core/service/ProjectService.class
core/target/classes/org/pms/core/service/TaskService.class
orm/src/test/
orm/target/.gitignore
run.sh
web/src/main/resources/
web/target/classes/org/pms/web/
web/target/pms-web/META-INF/
web/target/pms-web/WEB-INF/classes/org/pms/web/
web/target/pms-web/WEB-INF/views/view_employees.jsp
