<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add employees</title>
</head>
<body>

<div id="wrap">
    <div id="content">

        <div class="w3-bar w3-dark-gray">
            <a th:href="@{/}" class="w3-bar-item w3-button"><i class="fa fa-home"></i>Home</a>
            <a th:href="@{/about}" class="w3-bar-item w3-button"><i class="fa fa-building" aria-hidden="true"></i>
                About</a>
            <a th:href="@{/go_to_manager_direct}" class="w3-bar-item w3-button"><i class="fa fa-tachometer"
                                                                                   aria-hidden="true"></i>
                Back to Dashboard</a>
            <a th:href='@{/go_to_login}' class="w3-bar-item w3-button" style="float: right;"><i class="fa fa-sign-out"
                                                                                                aria-hidden="true"></i>
                Log Out</a>
        </div>


        <div id="body">

            <div class="w3-container">
                <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
                    <p class="w3-text-blue-gray"> Enter new employee details here..</p>
                </div>
            </div>


            <form action="#" th:action="@{/addemployee}" th:object="${employee}" method="post" class="w3-container">

                <table align="left">
                    <tr>
                        <td><label>Employee Number</label></td>
                        <td><input type="text" th:field="*{empId}" required="required"/></td>

                        <td colspan="4">&nbsp;</td>

                        <td>Authentication Level</td>
                        <td>
                            <select class="w3-button w3-gray" style="width:235px;" th:field="*{authinticationLevel}"
                                    id="authinticationLevel">
                                <!--@thymesVar id="authenticationList" type=""-->
                                <option th:each="authinticationLevel : ${authenticationList}"
                                        th:value="${authinticationLevel}"
                                        th:text="${authinticationLevel}"></option>
                            </select></td>
                    </tr>
                    <tr>

                        <td>Employee Name</td>
                        <td><input type="text" th:field="*{empName}" required="required"/></td>

                        <td colspan="4">&nbsp;</td>

                        <td>Username</td>
                        <td><input type="text" th:field="*{username}" required="required"/></td>
                    </tr>

                    <tr>
                        <td>Position</td>
                        <td><input type="text" th:field="*{position}" required="required"/></td>

                        <td colspan="4">&nbsp;</td>

                        <td>Password</td>
                        <td><input type="password" th:field="*{password}" required="required"/></td>

                    </tr>
                    <tr>

                        <td colspan="4">&nbsp;</td>

                    </tr>
                    <tr>
                        <td>
                            <input type="reset" class="w3-button w3-dark-gray w3-round-large" style="width:150px;"
                                   value="Clear" name="reset"/>
                        </td>
                        <td>
                            <input type="submit" class="w3-button w3-dark-gray w3-round-large" style="width:150px;"
                                   value="Add" name="submit"/>
                        </td>
                    </tr>


                </table>

            </form>

            <br>

            <div class="w3-container">
                <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
                    <p class="w3-text-blue-gray">Existing employee are..</p>
                </div>
            </div>

            <table class="w3-table-all w3-card-4" border="1" style="width: auto;" align="centre">
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Position</th>
                    <th>Authentication Level</th>
                </tr>
                <tr id="employee" th:each="employee : ${employeeList}">
                    <td th:text="${employee.empId}"></td>
                    <td th:text="${employee.empName}"></td>
                    <td th:text="${employee.position}"></td>
                    <td th:text="${employee.authinticationLevel}"></td>
                    <th><a th:href="@{/deleteEmployee(id=${employee.id})}">Delete</a></th>
                </tr>
            </table>

        </div>

    </div>
</div>


<footer class="w3-container w3-dark-gray">
    <p align="center">Version 3.0</p>

    <p align="center">jaliya.bandara@hsenidmobile.com </p>

    <p align="center">All rights reserved</p>
</footer>


<style>

    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    #wrap {
        min-height: 100%;
    }

    #content {
        overflow: auto;
        padding-bottom: 70px;

    }

    #footer {
        position: relative;
        margin-top: -70px;

        height: 70px;
        clear: both;
        background-color: #454545;
    }

    body:before {
        content: "";
        height: 100%;
        float: left;
        width: 0;
        margin-top: -32767px;

    }

</style>

<script th:inline="javascript">
    /*<![CDATA[*/

    if ([[${sucessMsg}]] != null) {
        alert("Employee successfully added!!!");

    } else {
        console.log([[${sucessMsg}]]);
    }
    /*]]>*/
</script>


</body>
</html>

