<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">


<html>
<head lang="en">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <title>Login</title>
    <style>
        body {
            background-image: url("images/image.jpg");
        }
    </style>

</head>

<body>

<div class="w3-bar w3-dark-gray">
    <a th:href="@{/}" class="w3-bar-item w3-button"><i class="fa fa-home"></i>Home</a>
    <a th:href="@{/about}" class="w3-bar-item w3-button"><i class="fa fa-building" aria-hidden="true"></i>
        About</a>
    <a href="#" class="w3-bar-item w3-button"></a>
    <a href="#" class="w3-bar-item w3-button"></a>
</div>

<div>
    <div style=" float: right">
        <h1>Project Management System</h1>

        <p style=" float: right">Simply manage your tasks..</p>
    </div>
</div>

<div style=" float: right">
    <form action="#" th:action="@{/loginin}" th:object="${employee}" method="post" class="w3-container">

        <span colspan="10">&nbsp;</span>

        <div style="width:1300px; margin:0 auto;">
            <table align="center">

                <tr>
                    <td><input type="text" th:field="*{username}" placeholder="Your username.." required="required"
                               class="w3-input w3-border w3-round w3-hover-gray"/></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="password" th:field="*{password}" placeholder="Your password.." required="required"
                               class="w3-input w3-border w3-round w3-hover-gray"/></td>
                </tr>

                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><input float="right" class="w3-button w3-round-large w3-white w3-border w3-border-gray"
                               type="submit" value="Log In"/></td>
                </tr>
            </table>
        </div>
    </form>
</div>

</body>
</html>